@charset "utf-8";
/* CSS Document */

/*html5 rest*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

#pro_one_content::-moz-selection { background: #1FA0D4; color: #000; text-shadow: none; }
#pro_one_content ::selection{ background:rgb(31,160,212); color: #000; text-shadow: none; }
#pro_two_content::-moz-selection { background: ##B8860B; color: #000; text-shadow: none; }
#pro_two_content ::selection{ background:rgb(184,134,11); color: #000; text-shadow: none; }
#pro_three_content::-moz-selection { background: #dd0060; color: #000; text-shadow: none; }
#pro_three_content ::selection{ background:rgb(221,96,0); color: #000; text-shadow: none; }
#pro_four_content::-moz-selection { background: #CCCC33; color: #000; text-shadow: none; }
#pro_four_content ::selection{ background:rgb(204,204,51); color: #000; text-shadow: none; }
#pro_five_content::-moz-selection { background: #FF6347; color: #000; text-shadow: none; }
#pro_five_content ::selection{ background:rgb(255,71,71); color: #000; text-shadow: none; }


/***************************************************************/
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
     url('../font/fontawesome-webfont.woff') format('woff'),
     url('../font/fontawesome-webfont.ttf') format('truetype'),
     url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-external-link::before {
	content: "\f08e";
	margin-right:5px;
}
[class^="icon-"]::before, [class*=" icon-"]::before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	color:#333;
}


body {
	margin: 0;
	min-width: 980px;
	padding: 0;
	position:relative;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
p {
	margin: 20px 0 20px 0;
	color: #999;
	font-size: .85em;
	line-height: 1.5em;
}

h1 {
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}
h2 {
	font-size:50px;	
	color:black;
}
h3, h4, h5 {
	font-style: normal;
	font-weight: 400;
}
h3 {
	margin-bottom: 5px;
	border-bottom: 1px solid #999;
	line-height: 2em;
}
h4 {
	color: #666;
	margin-bottom: 3px;
}
h5 {
	color: #333;
	line-height: .05em;
	font-weight:400;
	margin-top:40px;
}

/***************************************************************/
/**************************** HEADER ***************************/
header {
	position:fixed;
	background: rgba(255,255,255,.7);
	display: inline-block;
	width: 100%;
	height:100px;
	top:0;
	-webkit-box-shadow: 0px 2px 8px rgba(0,0,0,.4);
	-moz-box-shadow:  0px 2px 8px rgba(0,0,0,.4);
	box-shadow:  0px 2px 8px rgba(0,0,0,.4);
	z-index: 1000;
	float:left
}
header_inside {
	min-width: 980px;
	max-width:100%;
}
header img {
	margin-left:20px;
}

ul#menu {
	float: right;
	list-style: none;
	top: 45px;	
	right:20px;
	position: fixed;
	
}
ul#menu li {
	width: 120px;
	display: inline-block;
	text-align: center;
/* 	padding: 10px 0; */
}
ul#menu li a {
/* 	width: 120px; */
/* 	text-align: center; */
	padding: 10px 0;
	display: block;
	text-decoration: none;
	color:#333;
}
ul#menu li a:hover, ul#menu li a:active, ul#menu li a.current {
	color:#fff;
	background: #333;
}
/***************************************************************/
/**************************** NAV *****************************/
#nav {
	list-style: none;
	position: fixed;
	top:250px;
	left:20px;
	z-index: 900;
	padding-top: 50px;
}
#nav li {
	margin: 0 0 15px 0;	
}
#nav li a {
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	border-radius: 30px;
	background-color: #F7F7F7;
	border: solid 2px #F7F7F7;
	background-image: url(../img/nav.png);
	outline: none;
}
.nav_one a {
	background-position: 0px 0px;
}
.nav_one a.current, .nav_one a:hover {
	background-position: 30px 0px;
}
.nav_two a {
	background-position: 0px -30px;
}
.nav_two a.current, .nav_two a:hover {
	background-position: 30px -30px;
}
.nav_three a {
	background-position: 0px -60px;
}
.nav_three a.current, .nav_three a:hover {
	background-position: 30px -60px;
}
.nav_four a {
	background-position: 0px -120px;
}
.nav_four a.current, .nav_four a:hover {
	background-position: 30px -120px;
}
.nav_five a {
	background-position: 0px -90px;
}
.nav_five a.current, .nav_five a:hover {
	background-position: 30px -90px;
}

#nav a[title]:hover:after {
	content: attr(title);
	padding: 5px;
	background-color: #333;
	color:#fff;
	position: absolute;
	left: 40px;
	top: 15%;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 4px #222;
	-webkit-box-shadow: 0px 0px 4px #222;
	-o-box-shadow: 0px 0px 4px #222;
	box-shadow: 0px 0px 4px #222;
	font-size: .8em;
	opacity:.8;
}
/***************************************************************/
/************************** CONTENTS **************************/

.top {
	height: 700px;
	padding: 0;
	background: white;
	width: 100%;
	z-index: 800;
	-webkit-box-shadow: 0px 2px 8px rgba(0,0,0,.4);
	-moz-box-shadow:  0px 2px 8px rgba(0,0,0,.4);
	box-shadow:  0px 2px 8px rgba(0,0,0,.4);
}
.slide, .slide_menu {
	width: 100%;
}
#pro_one, #pro_two, #pro_three, #pro_four, #pro_five, #resume, #contact {
	margin: 0 auto;
	padding:100px 0 0 0;
	z-index: 500;
}
.top_img {
	height: 100%;
	margin: 0 auto;
	padding: 0;
/* 	width: 900px; */
	z-index: 800;
}

/****** discriptions part *******/
#pro_one_content, #pro_two_content, #pro_three_content, #pro_four_content, #pro_five_content {
	height: 800px;
	padding: 0;
	background: white;
	width: 100%;
	margin:0 auto;
}
.linkTo, .pdf {
	margin: 40px auto;
	width: 720px;
	display: block;
	border-top: 1px #999 solid;
	border-bottom: 3px #999 double;
	line-height: 3em;
}
a.linkTo {
	text-decoration: none;
	color:#999;
}
.pro_detail.texts {
	margin: 0 auto;
	padding: 100px 0 0 0;
	width: 720px;
}

.pro_detail.images {
	margin: 0 auto;
	padding: 0;
	z-index: 100;
	height:100%;
	width:980px;
}
.pro_detail.images img {
	display: block;
	margin:0px auto 100px auto;
}
.inside {
	margin: 0 auto;
	width: 980px;
}
/* THIS IS FOR SCLOLLORAMA.JS */
.scrollblock {
	position: relative;
	margin: 0;
	width: 100%;
	height: 700px;
}

/***********************************/
/*********** PROJECT 1 ************/
#pro_one {
/* 	z-index: 550; */
}

.top.one {
	background:rgb(49,167,188) 50% -75px repeat fixed;
	z-index:700;
	
}
#pro_one_content a.linkTo:hover, #pro_one_content a.linkTo:hover [class^="icon-"]::before, [class*=" icon-"]::before  {
	color:rgb(49,167,188);
}
[class^="icon-"]::before, [class*=" icon-"]::before {
	
}
#pro_one .top_img {
	background:url(../img/projects/1/top.jpg) 50% 120px no-repeat fixed;
/* 	z-index: 600; */
}


/****** discriptions part *******/
#pro_one_content.title_slide {
	
}
#pro_one_content {
	height: 3000px;
}
#pro_one_content .pro_detail.images {
		
}
/*
#pro_one_content .pro_detail.texts {
	height:1700px
}
*/

/***********************************/
/*********** PROJECT 2 ************/
#pro_two {
/* 	z-index: 400; */
}
.top.two {
	background: rgb(184,134,11) 50% -75px repeat fixed;
	z-index:700;
}
#pro_two_content a.linkTo:hover, #pro_two_content a.linkTo:hover [class^="icon-"]::before, [class*=" icon-"]::before {
	color:rgb(184,134,11);
}
#pro_two .top_img {
	background:url(../img/projects/2/top.jpg) 50% 120px no-repeat fixed;
/* 	z-index: 500; */
}

/****** discriptions part *******/
#pro_two_content.title_slide {
	
}
#pro_two_content {
	height: 3950px
}
#pro_two_content .pro_detail.images {
	
}
#pro_two_content .pro_detail.texts {
/* 	height:2200px */
}
#pro_two_content .linkTo {
	border-bottom:none;
	margin-bottom:0;
}
#pro_two_content .pdf {
	border-top:none;
	margin-top:0;
}
#pro_two_content .pdf img {
	margin-top:10px;
	margin-bottom:10px;
	float:left;
}
#pro_two_content .pdf p {
	margin-left:10px;
	float:left;
}
#pro_two_content a.pdf p:hover {
	color:rgb(184,134,11);
}

/***********************************/
/*********** PROJECT 3 ************/
#pro_three {
/* 	z-index: 400; */
}
.top.three {
	background: rgb(221,96,0) 50% -75px repeat fixed;
	z-index:700;
}
#pro_three_content a.linkTo:hover, #pro_three_content a.linkTo:hover [class^="icon-"]::before, [class*=" icon-"]::before {
	color:rgb(221,96,0);
}
#pro_three .top_img {
	background:url(../img/projects/3/top.jpg) 50% 120px no-repeat fixed;
/* 	z-index: 500; */
}

/****** discriptions part *******/
#pro_three_content.title_slide {
	
}
#pro_three_content {
	height: 3300px;
}
#pro_three_content .pro_detail.images {
	
}
#pro_three_content .pro_detail.texts {
	
}
.whole_iframe {
	margin:0 auto;
	width:390px;
	position:relative;
}
.inside iframe {
	margin: 0 auto;
	display: block;
	z-index: 400;
	position: absolute;
	top: 132px;
	left:33px;
}
/*
#pro_three_content iframe input {
	width:166px;
}
*/
.iphone img {
/* 	left:380px; */
	margin:0 auto;
}
/***********************************/
/*********** PROJECT 4 ************/
#pro_four {
/* 	z-index: 300; */
}
.top.four {
	background: rgb(204,204,51) 50% -75px repeat fixed;
	z-index:700;
}
#pro_four .top_img {
	background:url(../img/projects/4/top.jpg) 50% 120px no-repeat fixed;
/* 	z-index: 500; */
}

/****** discriptions part *******/
#pro_four_content.title_slide {
	
}
#pro_four_content {
	height: 4800px;
}
#pro_four_content .pro_detail.images {
	
}
#pro_four_content .pro_detail.texts {
	
}
#pro_four_content .pdf img {
	margin-top:10px;
	margin-bottom:10px;
	float:left;
}
#pro_four_content .pdf p {
	margin-left:10px;
	float:left;
}
#pro_four_content a.pdf p:hover {
	color:rgb(204,204,51);
}

/***********************************/
/*********** PROJECT 5 ************/
#pro_five {
/* 	z-index: 400; */
}
.top.five {
	background: rgb(255,71,71) 50% -75px repeat fixed;
	z-index:700;
}
#pro_five_content a.linkTo:hover, #pro_five_content a.linkTo:hover [class^="icon-"]::before, [class*=" icon-"]::before {
	color: rgb(255,71,71);
}

#pro_five .top_img {
	background:url(../img/projects/5/top.jpg) 50% 120px no-repeat fixed;
/* 	z-index: 500; */
}

/****** discriptions part *******/
#pro_five_content.title_slide {
	
}
#pro_five_content {
	height: 1900px;
}
#pro_five_content .pro_detail.images {
	
}
#pro_five_content .pro_detail.texts {
	
}

/***********************************/
/************* RESUME **************/
#resume {
	height: 900px;
	background: url(../img/linen_background.png) 50% 0px repeat fixed;
	width: 100%;
	z-index: 950;
	-webkit-box-shadow: 0px 2px 8px rgba(0,0,0,.4);
	-moz-box-shadow:  0px 2px 8px rgba(0,0,0,.4);
	box-shadow:  0px 2px 8px rgba(0,0,0,.4);
	padding-top:50px;
}
#resume .pro_detail.texts {
/* 	margin-top: 50px; */
	line-height: 40px;
}
.left {
	float:left;
/* 	width:50%; */
}
.right {
	float:right;
/* 	width:50%; */
}
#resume span {
	color:#666;
}
#resume .linkTo {
	margin: 0;
}
#resume .linkTo img {
	margin-top:10px;
	float:left;
}
#resume .linkTo p {
	margin-left:10px;
	float:left;
	
}
/***********************************/
/*********** CONTACTS **************/
#contact {
	height: 700px;
	background: url(../img/linen_background.png) 50% -75px repeat fixed;
	background: #333 50%;
	width: 100%;
	z-index: 950;
	-webkit-box-shadow: 0px 2px 8px rgba(0,0,0,.4);
	-moz-box-shadow:  0px 2px 8px rgba(0,0,0,.4);
	box-shadow:  0px 2px 8px rgba(0,0,0,.4);
	color:#ccc;
}
#contact .pro_detail.texts {
/* 	margin-top: 100px; */
	line-height: 40px;
	width:410px;
	margin:0 auto;
}
#contact input, #contact textarea {
	background: url(../img/linen_background.png) repeat;
	width:400px;
	margin: 2px auto 30px auto; 
	font-size: 18px;
	padding: 5px;
	border:none;
	color:#333;
}
#contact input#button {
	background-color:#333;
/* 	bottom: 0; */
	background: none;
	background-color: #CCC;
	color: #333;
	width: 100%;
/* 	float: right; */
	cursor: pointer;
}
/***********************************/
/*********** CLEARFIX ************/
.clearfix:before,
.clearfix:after 	{content:"";
					display:block;
}
.clearfix:after		{clear:both;
}


@media only screen and (max-width: 768px) {
	body, html, #scroll-wrap {
		max-width: 768px;
		min-width:499px;
	}
	header {
		height: 70px;
		max-width:768px;
	}
	header_inside {
		max-width:768px;
	}
	.header_inside img {
		width: 140px;
	}
	ul#menu {
		top:0px;	
		width:300px;
		right:0;
	}
	ul#menu li {
		width: 100px;
	}
	ul#menu li a {
		padding: 26px 0;
	}
	/* ----- NAV ----- */
	#nav {
		padding: 80px 0px 0 0;
	}
	#nav a[title]:hover:after {
		content: attr(title);
		display:none;
	}
	/*********** CONTENTS ************/
	.top {
		height: 600px;
	}
	.slide, .slide_menu {
		width: 768px;
	}
	#pro_one, #pro_two, #pro_three, #pro_four, #pro_five, #resume, #contact {
		padding:70px 0 0 0;
	}
	.top_img {
		height: 600px;
	}
	/****** discriptions part *******/
	#pro_one_content, #pro_two_content, #pro_three_content, #pro_four_content, #pro_five_content {
		height: 1024px;
		width:700px;
		padding-left:38px;
	}
	.linkTo, .pdf {
/* 		margin: 40px auto; */
		width: 650px;
	}
	.pro_detail.texts {
		padding: 70px 0 0 0;
		width: 650px;
	}
	.pro_detail.images {
		width:650px;
	}
	.pro_detail.images img {
		margin:0px auto 100px auto;
	}
	.inside {
		width: 650px;
	}
	.inside_box IMG {
		width:650px;
	}
	/* THIS IS FOR SCLOLLORAMA.JS */
	.scrollblock {
		height: 954px;
	}
	/*********** PROJECT 1 ************/
	#pro_one .top_img {
		background:url(../img/projects/1/top_600.jpg) 65% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_one_content {
		height: 2650px;
	}
	/*********** PROJECT 2 ************/
	#pro_two .top_img {
		background:url(../img/projects/2/top_600.jpg) 65% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_two_content {
		height: 3540px;
	}
	/*********** PROJECT 3 ************/
	#pro_three .top_img {
		background:url(../img/projects/3/top_600.jpg) 65% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_three_content {
		height: 2000px;
	}
	.whole_iframe {
		display:none;
	}
	/*********** PROJECT 4 ************/
	#pro_four .top_img {
		background:url(../img/projects/4/top_600.jpg) 65% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_four_content {
		height: 4300px;
	}
	/*********** PROJECT 5 ************/
	#pro_five .top_img {
		background:url(../img/projects/5/top_600.jpg) 65% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_five_content {
		height: 1500px;
	}
	/************* RESUME **************/
	#resume {
		height: 900px;
		max-width: 768px;
		z-index: 950;
		padding-top:0px;
	}
	#resume .pro_detail.texts {
		margin-top: 70px;
		line-height: 40px;
	}
	.left {
		width:3 00px;
	}
	.right {
		width:300px;
	}
	/*********** CONTACTS **************/
	#contact {
		height: 600px;
		max-width: 768px;
		z-index: 950;
		padding-top:70px;
	}
	#contact .pro_detail.texts {
		line-height: 40px;
		width:700px;
	}
	#contact input, #contact textarea {
		width:670px;
		margin: 2px auto 10px auto;
	}
	#contact input#button {
		width:680px;
	}
	
}


/* Smartphones (landscape) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
	body, html, #scroll-wrap {
		min-width: 480px;
	}
	header {
		height: 50px;
		width:480px;
	}
	header_inside {
		width:480px;
	}
	.header_inside img {
		width: 100px;
	}
	ul#menu {
		right:0;
	}
	ul#menu li {
		width: 100px;
	}
	ul#menu li a {
		padding: 16px 0;
	}
	/* ----- NAV ----- */
	#nav {
		left:0px;
		padding: 50px 0px 0 0;
	}
	#nav li {
		margin: 8px;
		padding: 0;	
	}
	#nav li a {
		padding:0;
	}
	#nav a[title]:hover:after {
		content: attr(title);
		display:none;
	}
	/*********** CONTENTS ************/
	.top {
		height: 245px;
	}
	.slide, .slide_menu {
		width: 480px;
	}
	#pro_one, #pro_two, #pro_three, #pro_four, #pro_five, #resume, #contact {
		padding:50px 0 0 0;
	}
	.top_img {
		height: 245px;
	}
	/****** discriptions part *******/
	#pro_one_content, #pro_two_content, #pro_three_content, #pro_four_content, #pro_five_content {
		height: 320px;
		width:450px;
		padding-left:30px;
	}
	.linkTo, .pdf {
		margin: 40px auto;
		width: 410px;
	}
	.pro_detail.texts {
		padding: 50px 0 0 0;
		width: 410px;
	}
	.pro_detail.images {
		width:410px;
	}
	.pro_detail.images img {
/* 		margin:0px auto 100px auto; */
	}
	.inside {
		width: 410px;
	}
	.inside_box IMG {
		width:410px;
	}
	/* THIS IS FOR SCLOLLORAMA.JS */
	.scrollblock {
		height: 245px;
	}
	/*********** PROJECT 1 ************/
	#pro_one .top_img {
		background:url(../img/projects/1/top_480.jpg) 50% 50px no-repeat fixed;
		z-index: 700;
	}
	/****** discriptions part *******/
	#pro_one_content {
		height: 1940px;
	}
	/*********** PROJECT 2 ************/
	#pro_two .top_img {
		background:url(../img/projects/2/top_480.jpg) 50% 50px no-repeat fixed;
		z-index: 700;
	}
	/****** discriptions part *******/
	#pro_two_content {
		height: 2440px;
/* 		padding-top: 70px; */
	}
	/*********** PROJECT 3 ************/
	#pro_three .top_img {
		background:url(../img/projects/3/top_480.jpg) 50% 50px no-repeat fixed;
		z-index: 700;
	}
	/****** discriptions part *******/
	#pro_three_content {
		height: 1450px;
/* 		padding-top: 70px; */
	}
	.whole_iframe {
		display:none;
	}
	/*********** PROJECT 4 ************/
	#pro_four .top_img {
		background:url(../img/projects/4/top_480.jpg) 50% 50px no-repeat fixed;
		z-index: 700;
	}
	/****** discriptions part *******/
	#pro_four_content {
		height: 2880px;
/* 		padding-top: 70px; */
	}
	/*********** PROJECT 5 ************/
	#pro_five .top_img {
		background:url(../img/projects/5/top_480.jpg) 50% 50px no-repeat fixed;
		z-index: 700;
	}
	/****** discriptions part *******/
	#pro_five_content {
		height: 1100px;
/* 		padding-top: 70px; */
	}
	/************* RESUME **************/
	#resume {
		height: 1300px;
		width: 480px;
		z-index: 950;
		padding-top:0px;
	}
	#resume .pro_detail.texts {
		margin-top: 50px;
		line-height: 40px;
	}
	.left {
		float:none;
		width:460px;
	}
	.right {
		float:none;
		width:460px;
	}
	/*********** CONTACTS **************/
	#contact {
		height: 600px;
		width: 480px;
		z-index: 950;
		padding-top:50px;
	}
	#contact .pro_detail.texts {
		line-height: 40px;
		width:460px;
	}
	#contact input, #contact textarea {
		width:450px;
		margin: 2px auto 10px auto;
	}
	#contact input#button {
		width: 460px;
	}
	
}


/* Smartphones (portrait) */
@media only screen and (max-width: 320px) {
	body, html, #scroll-wrap {
		width:320px;
		min-width: 320px;
	}
	header {
		height:115px;
		width:320px;
	}
	header_inside {
		width:320px;
	}
	.header_inside img {
		margin: 0 85px;
		width: 150px;
	}
	.header_inside ul#menu {
		float:none;
		top:77px;	
		width:320px;
		left: 0;
	}
	ul#menu li {
		width: 106px;
		display: inline-block;
		text-align: center;
	}
	ul#menu li a {
		padding: 10px 0;
	}
	/* ----- NAV ----- */
	#nav {
		left:0px;
		padding: 50px 0px 0 0;
	}
	#nav li {
		margin: 10px 0px;
		padding: 0;	
	}
	#nav li a {
		padding:0;
	}
	#nav a[title]:hover:after {
		content: attr(title);
		display:none;
	}
	
	/*********** CONTENTS ************/
	.top {
		height: 200px;
	}
	.slide, .slide_menu {
		width: 320px;
	}
	#pro_one, #pro_two, #pro_three, #pro_four, #pro_five, #resume, #contact {
		padding:115px 0 0 0;
	}
	.top_img {
		height: 365px;
	}
	
	/****** discriptions part *******/
	#pro_one_content, #pro_two_content, #pro_three_content, #pro_four_content, #pro_five_content {
		height: 480px;
		width:290px;
		padding-left:30px;
	}
	.linkTo, .pdf {
		margin: 40px auto;
		width: 270px;
	}
	.pro_detail.texts {
		padding: 100px 0 0 0;
		width: 270px;
	}
	.pro_detail.images {
		width:290px;
	}
	.pro_detail.images img {
		margin:0px auto 100px auto;
	}
	.inside {
		width: 290px;
	}
	.inside_box IMG {
		width:270px;
	}
	/* THIS IS FOR SCLOLLORAMA.JS */
	.scrollblock {
		height: 365px;
	}
	/*********** PROJECT 1 ************/
	#pro_one .top_img {
		background:url(../img/projects/1/top_320.jpg) 50% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_one_content {
		height: 1620px;
		padding-top: 100px;
	}
	/*********** PROJECT 2 ************/
	#pro_two .top_img {
		background:url(../img/projects/2/top_320.jpg) 50% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_two_content {
		height: 2080px;
		padding-top: 100px;
	}
	/*********** PROJECT 3 ************/
	#pro_three .top_img {
		background:url(../img/projects/3/top_320.jpg) 50% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_three_content {
		height: 1270px;
		padding-top: 100px;
	}
	.whole_iframe {
		display:none;
	}
	/*********** PROJECT 4 ************/
	#pro_four .top_img {
		background:url(../img/projects/4/top_320.jpg) 50% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_four_content {
		height: 2300px;
		padding-top: 100px;
	}
	/*********** PROJECT 5 ************/
	#pro_five .top_img {
		background:url(../img/projects/5/top_320.jpg) 50% 120px no-repeat fixed;
	}
	/****** discriptions part *******/
	#pro_five_content {
		height: 1080px;
		padding-top: 100px;
	}
	/************* RESUME **************/
	#resume {
		height: 1400px;
		width: 320px;
		z-index: 950;
		padding-top:0px;
	}
	#resume .pro_detail.texts {
		margin-top: 50px;
		line-height: 40px;
	}
	.left {
		float:none;
		width:270px;
	}
	.right {
		float:none;
		width:270px;
	}
/*
	#resume .linkTo img {
		margin-top:10px;
		float:left;
	}
	#resume .linkTo p {
		margin-left:10px;
		float:left;
		
	}
*/
	/*********** CONTACTS **************/
	#contact {
		height: 600px;
		width: 320px;
		z-index: 950;
		padding-top:50px;
	}
	#contact .pro_detail.texts {
		line-height: 40px;
		width:270px;
	}
	#contact input, #contact textarea {
		width:260px;
		margin: 2px auto 10px auto;
	}
	#contact input#button {
	width: 270px;
	}
}