/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
	margin-right: 50px;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
/* End: Recommended Isotope styles */

/* -----------------------  / Body / Other parts --------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	padding: 20px;
	background: #699;
	background: #9cc;
	margin:0 auto;
	height:100%;
/* 	width:100%; */
	background-image: url(../img/background.png);
  	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.5em;
	color:#222;
}
.drawingpix { 
    position:absolute; 
    top:-50px; 
    left:-50px;
/*     opacity: .3; */
    z-index: 0;
}
/* ------------------------ top logo for client (very top) ----------------------*/
#client {
	margin-bottom: 100px;
	z-index: 10;
}
#client img {
	height:45px;
	float: left;
	background-color:#cff;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
}
/* --------------------------- top text part ----------------------------------*/

#copy {
	margin-bottom: 40px;
	margin:0 auto 40px auto;
	z-index: 10;
	min-width: 400px;
	position: relative;
}
#copy_two {
	max-width:1100px;
	margin:0 auto;
}
#copy p {
	max-width: 700px;
	-webkit-border-radius: 0 30px 30px 30px;
	-moz-border-radius:0 30px 30px 30px;
	border-radius: 0 30px 30px 30px;
	margin-bottom: 20px;
	-webkit-box-shadow: inset 0 0px 40px 10px rgba(95, 158, 160, .5);
	-moz-box-shadow: inset 0 0 40px 10px rgba(95, 158, 160, .5);
	-o-box-shadow: inset 0 0 40px 10px rgba(95, 158, 160, .5);
	box-shadow: inset 0 0 40px 10px rgba(95, 158, 160, .5);

}
#copy p span {
	color:#fff;
	font-family: 'Cabin Sketch', arial, serif;
	font-size: 1.15em;
}
#copy #sasutainable_seafood {
	max-width:1100px;
	margin:0 auto 48px auto;
}
#copy #sasutainable_seafood p {
	height: 100%;
	max-width:610px;	
	padding:20px;
	margin-left:196px;
}
#copy #research {
	float:left;
	margin:0 auto;
	margin-right: 43px;
}
#copy #research p {
	height: 100%;
	max-width:284px;	
	padding:20px;
	margin-left:120px;
}
#solution {
	position:relative;
	max-width:500px;
	float:left;
	margin:;0 auto 0 auto;
	padding-top:48px;
}
#copy #solution p {
	height: 100%;
	max-width:300px;	
	padding:20px;
	margin-left:120px;
}

/* ------------------------------- Texts -----------------------------------------*/
h3, h6, p, ul, ol {
  margin-bottom: 1.0em;
}
h1 {
	font-family: 'Cabin Sketch', arial, serif;
  	font-size: 55px;
  	line-height: 1em;
  	margin-bottom:50px;
  	word-spacing: .2em;
  	letter-spacing: .04em;
}
h2 {
	font-family: 'Cabin Sketch', arial, serif;
  	font-size: 26px;
  	color:#fff;
  	margin-bottom: .5em;
}
h3 {
	font-family: 'Cabin Sketch', arial, serif;
	margin-bottom: 0.6em;
	font-size: 22px;
	text-transform: capitalize;
}
h4 {
	font-size:16px;
	line-height: normal;
	text-align: center;
	margin-bottom: 5px;
	border-bottom: 1px dotted #222;
	text-transform: lowercase;
	font-weight: bold;
}
h4::first-letter {
    text-transform: uppercase;
}
h5 {
	font-size:14px;
	line-height: normal;
	font-weight: bold;
}
h6 {
	background-color: none;
	font-size: 20px;
	float: left;
	margin: 12px 0 0 7px; 
	color:#fff;
	
}
#container p {
	font-size:14px;
	line-height: normal;
	/*margin-left: 7px;*/
	margin-bottom: 5px;
}
ul {
  margin-left: 1.5em;
}

a, a code {
  text-decoration: none;
}


/* -------------------------------- Container -----------------------------------*/
#container {
	-webkit-border-radius: 30px 30px 30px 30px;
	-moz-border-radius:30px 30px 30px 30px;
	-o-border-radius:30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;
	/* This is same as text box on top*/
	-webkit-box-shadow: inset 0 2px 60px 10px rgba(95, 158, 160, .5);
	-moz-box-shadow: inset 0 0 60px 10px rgba(95, 158, 160, .5);
	-o-box-shadow: inset 0 0 60px 10px rgba(95, 158, 160, .5);
	box-shadow: inset 0 0 60px 10px rgba(95, 158, 160, .5);
	padding: 25px 0px 25px 25px;
	background-color:rgba(95, 158, 160, .1);
	z-index: 10;
}
#container #text {
	margin:50px 15px 0 17px;
}

/*------------------------------ Filter Parts -----------------------------------*/
/* ---------------- filter bottons ------------------- */
#options {
	padding-bottom: 1.0em;
 	margin-top: 3em;
/*   max-width: 800px; */
  	background:url(../img/striped_bg.png);
  	-webkit-border-radius: 30px 30px 30px 30px;
	-moz-border-radius:30px 30px 30px 30px;
	-o-border-radius:30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;
	padding: 25px 20px 25px 25px;
	margin-bottom: 30px;
	z-index: 10;
}

#options ul {
  margin: 0;
  list-style: none;
}

#options ul ul {
  margin-left: 1.5em;
}

#options .floated li {
	font-size: 14px;
	float: left;
}


/* -------------- filter option button designs -------------------- */
#options li a {
	display: inline-block;
	padding: 5px 10px;
	background-color: #cff ;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #222;
	margin-bottom: 0.2em;
	margin-right:6px;
	-webkit-box-shadow: 0 2px 5px hsla( 0, 0%, 0%, 0.6 );
	-moz-box-shadow: 0 2px 5px hsla( 0, 0%, 0%, 0.6 );
	-o-box-shadow: 0 2px 5px hsla( 0, 0%, 0%, 0.6 );
	box-shadow: 0 2px 5px hsla( 0, 0%, 0%, 0.6 );
	border:2px solid #cff;
	
/* 	border-left:  1px solid hsla( 0, 0%, 100%, 0.3 ); */
/* 	border-right: 1px solid hsla( 0, 0%,   0%, 0.2 ); */
	width:70px;
	text-align: center;
	height:40px;
	line-height: 1.2em;
	margin-top:10px;
	justify-content: center;
	display: flex;
	align-items: center;

	
}
#options li a:active, #options li a:hover, #options .option-set li a.selected {
	background-color: #09c;
	-webkit-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.6 );
	-moz-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.6 );
	-o-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.6 );
	box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.6 );
	color:#fff;
	text-shadow: none;
	border:none;
	padding: 7px 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
/*---------- By Colors ------------*/
#options li a.red {
	background-color: #FF6161;
	border:2px solid #FF6161;
}
#options li a.green {
	background-color:  #99cc33;
	border:2px solid #99cc33;
}
#options li a.yellow {
	background-color:  #FFCC00;
	border:2px solid #FFCC00;
}
#options li a.red:active, #options li a.red:hover, #options .option-set li a.red.selected {
	background-color: #FF6161;
	border:none;
	color:#000;
}
#options li a.green:active, #options li a.green:hover, #options .option-set li a.green.selected {
	background-color:  #99cc33;
	border:none;
	color:#000;
}
#options li a.yellow:active, #options li a.yellow:hover, #options .option-set li a.yellow.selected {
	background-color:  #FFCC00;
	border:none;
	color:#000;
}
/*---------- By Seafood Types ------------*/
#options li a.fish {
	background:url(../img/seafood_types/fish.svg) no-repeat center 2px;
	background-size: 23px;
	padding-top:30px;
	background-color: #cff;
	height:15px;
}
#options li a.molluscs {
	background:url(../img/seafood_types/molluscs.svg) no-repeat center 2px;
	background-size: 23px;
	padding-top:30px;
	background-color: #cff;
	height:15px;
}
#options li a.crustaceans {
	background:url(../img/seafood_types/crustaceans.svg) no-repeat center 2px;
	background-size: 23px;
	padding-top:30px;
	background-color: #cff;
	height:15px;
}
#options li a.other {
	background:url(../img/seafood_types/other.svg) no-repeat center 2px;
	background-size: 23px;
	padding-top:30px;
	background-color: #cff;
	height:15px;
}

#options li a.fish:active, #options li a.fish:hover, #options .option-set li a.fish.selected {
	border:none;
	background-color: #09c;
	padding-top:30px;
	background-position: center 4px;
}
#options li a.molluscs:active, #options li a.molluscs:hover, #options .option-set li a.molluscs.selected {
	border:none;
	background-color: #09c;
	padding-top:30px;
	background-position: center 4px;
}
#options li a.crustaceans:active, #options li a.crustaceans:hover, #options .option-set li a.crustaceans.selected {
	border:none;
	background-color: #09c;
	padding-top:30px;
	background-position: center 4px;
}
#options li a.other:active, #options li a.other:hover, #options .option-set li a.other.selected {
	border:none;
	background-color: #09c;
	padding-top:30px;
	background-position: center 4px;
}

/*---------- By Water/Shapes ------------*/
#options .shape li a.any {
	/* margin-top:15px; */
}
#options li a.round {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height:60px;
	width:50px;
	margin-top:0;
}
#options li a.square {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height:60px;
	width:50px;
	margin-top:0;
}
#options li a.round_square {
	-webkit-border-radius: 25px 2px;
	-moz-border-radius: 25px 2px;
	border-radius: 25px 2px;
	height:60px;
	width:50px;
	margin-top:0;
}
#options li a.round:active, #options li a.round:hover, #options .option-set li a.round.selected {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height:60px;
	width:50px;
}
#options li a.square:active, #options li a.square:hover, #options .option-set li a.square.selected {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height:60px;
	width:50px;
}
#options li a.round_square:active, #options li a.round_square:hover, #options .option-set li a.round_square.selected {
	-webkit-border-radius: 25px 2px;
	-moz-border-radius: 25px 2px;
	border-radius: 25px 2px;
}

/* ---------------- controlling around each filter options ----------------*/

#options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 40px;
  margin-bottom:15px;
}
#options .option-combo.size {
  margin-right: 0px;
}

/* ------------------------------------- Color / Shapes / Type ---------------------------------------------------*/
/* ------------------- shape -----------------------*/
.color-shape {
  /*
  width: 70px;
  height: 70px;
  */
  width:200px;
  height:200px;
  margin: 0px 0px 25px 0px;
  float: left;
}

.color-shape.round_square {
	-webkit-border-radius: 55px 2px;
	-moz-border-radius: 55px 2px;
	border-radius: 55px 2px;
}
 
.color-shape.round {
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
}

.color-shape.square {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
} 
/* ------------------- color -----------------------*/ 
.color-shape.red {
	background-color: #FF6161;
		-moz-box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
		-webkit-box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
		-o-box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
		box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
}
.color-shape.green {
	background:#99cc33;
		-moz-box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
		-webkit-box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
		-o-box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
		box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
}
.color-shape.yellow {
	background: #FFCC00;
		-moz-box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
		-webkit-box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
		-o-box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
		box-shadow: 0px 0px 5px hsla( 0, 0%, 0%, 0.6 );
}

/* ------------------- type -----------------------*/
.color-shape.fish {
	background-image:url(../img/seafood_types/fish.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position:center 12px;

	}
.color-shape.crustaceans {
	background-image:url(../img/seafood_types/crustaceans.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position:center 12px;

	}
.color-shape.molluscs {
	background-image:url(../img/seafood_types/molluscs.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position:center 12px;
	}
.color-shape.other {
	background-image:url(../img/seafood_types/other.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position:center 12px;
	}



masonry: {
  columnWidth: 500,
  gutter: 100
}

/* ------------------------------------ footer -------------------------------------------*/
footer {
	vertical-align: baseline;
	display: block;
	text-align: right;
	color:#fff;
	border-top: 5px dotted #fff ;
	margin-top: 30px;
	z-index: 10;
}

/***********************************/
/*********** CLEARFIX ************/
.clearfix:before,
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}


.clearfix {
	zoom: 1;
}
