/*
Kayano Tokuzato
Web App Project
IM205 Adv. WebScripting
Spring 2012
*/

@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

* {margin:0; padding:0;}


body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color:#ccc;
	font-family: Helvetica neue, Arial, Helvetica, sans-serif;
	font-size:.8em;
}
#container {
	background: url(../img/BG_1024.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	min-width:100%;
	margin:0;
	padding:0;
	position:absolute;
}
.loader{
	text-align: center;
	margin-top: 30px;
}
.loader img{
	width: auto;
}
.page {
	width:825px;
	display:none;
}
/*********************************/
/************ LEVEL 1 ************/
/*********************************/
#container_inside1 {
	margin:auto;
	min-height:100%;
}
#search {
	width:825px;
	position:relative;
	margin:auto;
}
.coaster {
	width:370px;
	height:100%;
	margin:20px auto 0 auto;
/* 	position:relative; */
}
.coaster img {
	width:370px;
	margin:auto;
}
#type {
/* 	position:absolute; */
	width:370px;
}
input {
	font-size: 16pt;
	height:25pt;
	width:218px;
	top: 180px;
	left:305px;
	position: absolute;
}

#beer_list, #beer_savedList {
	background-color:rgba(0,0,0,.6);
	width: 725px;
	margin:50px auto;
	padding:30px;	
	position:relative;	
}
.beer_name, .beer_savedName {
	width:360px;
	margin:1px;
	padding:15px 0px;
	cursor: pointer;
	text-align: center;
	background-color:rgba(255,255,255,.3);
	display: inline-block;
	vertical-align: top;-
}
/*
.beer_name {
	margin:1px;
}
*/

/*********************************/
/************ LEVEL 2 ************/
/*********************************/
#container_inside2 {
	margin: auto;
}
#container_inside2 img {
	width:370px;
	margin:auto;
/* 	display: block; */
}
#container_inside1 button, #container_inside2 button, #container_inside3 button {
    vertical-align: middle;
    background-color:transparent;
    cursor:pointer;
    border:none;
}
#container_inside2 button img, #container_inside3 button img {
	width:90px;
}
.each_beer {
	margin: 20px auto 0px auto;
}
#indivisual_beer {
	margin:auto;
	width:785px;
}
#indivisual_beer #table {
	line-height: 25px;
	background-color:rgba(0,0,0,.6);
	padding:20px;
}
#table a {
	color:#666;
	text-decoration: none;
}
#table a:hover {
	color:#ff9933;
}
#indivisual_beer #table .each_discription {
	padding:20px;
	width:720px;
}
#indivisual_beer #table .each_discription .detail {
	width:515px;
	margin:0;
	display: inline-block;
	vertical-align: middle;
}
#indivisual_beer #table .each_discription .heading {
	width:180px;
	color:#ff9933;
	text-transform: uppercase;
}
#table .each_discription .detail#name {
	font-family:'Permanent Marker', cursive;
	margin-left:210px;
	margin-top:-260px;
	font-size: 30px;
	color:black;
	width:285px;
	line-height: 30px;
	text-align: center;
}
#nav {
/* 	margin-left:20px; */
}

.clearfix:before,
.clearfix:after {
	content:"";
	display:block;
}
.clearfix:after {
	clear:both;
}

/*********************************/
/************ LEVEL 3 ************/
/*********************************/
#container_inside3 {
	margin: auto;
	
}
.delete_button {
	display:none;
	float: right;
	margin-right: 20px;
	color: #F93;
}
.hidden_info {
	text-align: left;
	margin-top: 10px;
	padding: 3px 17px;
}
.hidden_info img {
	width:280px;
}


.hidden_info #table {
	line-height: 20px;
	background-color:rgba(0,0,0,.6);
	padding:20px;
}
.hidden_info #table .each_discription {
	padding:3px;
	width:280px;
}
.hidden_info #table .each_discription .detail {
	width:280px;
	margin:0;
/* 	display: inline-block; */
	vertical-align: middle;
}
.hidden_info #table .each_discription .heading {
	width:180px;
	color:#ff9933;
	text-transform: uppercase;
}

.hidden{
	display: none;
}

@media only screen and (min-width: 1024px) and (orientation:landscape) {
	#container {
		background: url(../img/BG_1600.jpg) no-repeat center center fixed;
	}
	.page {
		width:1024px;
	}
	/* page1 */
	#search {
		width:1024px;
	}
	input {
		left:405px;
	}
	#beer_list, #beer_savedList {
		width: 900px;
	}
	.beer_name, .beer_savedName {
		width: 298px;
	}
	/* page2 */
	#indivisual_beer {
		width:960px;
	}
	#indivisual_beer #table .each_discription {
		margin:0 auto;
	}
	#table .each_discription .detail#name {
		left: 240px;
		top:-260px;
	}
	#indivisual_beer #table {
		width:920px;
	}
	#nav {
		margin-left:30px;
		padding-top: 20px;
	}
	#back, #savedPage {
		margin-right:10px;
	}
	/* page3 */
	.hidden_info #table .each_discription {
		width:218px;
	}
	.hidden_info img {
		width:218px;
	}
	.hidden_info #table .each_discription .detail {
		width:218px;
	}

}	

@media only screen and (max-width: 768px) {
	#container {
		background: url(../img/BG_768.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}
	.page {
		width:480px;
	}
	/* page1 */
	#search {
		width:480px;
		margin:0 auto;
	}
	#beer_list, #beer_savedList {
		width:360px;
	}
	input {
		left:130px;
	}
	.beer_name, .beer_savedName {
		margin:0 0 2px 0;
	}
	/* page2 */
	#indivisual_beer {
		width:480px;
	}
	#indivisual_beer #table {
		width:385px;
		margin: auto;
	}
	#indivisual_beer #table .each_discription {
		width:345px;
	}
	#indivisual_beer #table .each_discription .detail {
		display: block;
		width:345px;
		padding-bottom:10px;
	}
	#indivisual_beer #table .each_discription .detail img {
		width:345px;
	}
	#table .each_discription .detail#name {
		margin-left: 40px;
		margin-top: -265px;
		width: 270px;
	}
	#container_inside2 .coaster {
		margin-top:0;
	}
	#nav {
		margin:auto;
		width:425px;
	}
	#back {
/* 		float:left; */
		margin:3px 0 0 5px;
	}
	#save {
		float:right;
		margin:3px 0 0 5px;
	}
	#savedPage {
/* 		float:left; */
		margin:3px 5px 0 0;
	}
	#edit {
		float:left;
		margin:3px 5px 0 0;
	}
	/* page3 */
	.hidden_info #table .each_discription .detail img {
		width:280px;
	}
	
}
/* Smartphones (landscape) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
	#container {
/* 		background:none; */
/* 		background-repeat: repeat; */
/* 		background-color:#333; */
		background:url(../img/BG_480.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
/*
		min-height: 100%;
		min-width:100%;
		margin:0;
		padding:0;
		position:absolute;
*/
	}
/*
	.page {
		width:480px;
	}
*/
	/* page1 */
	#container_inside1 {
		margin:0px;
	}
	.coaster {
		margin:0 auto;
		width:300px;
	}
	.coaster img {
		width:300px;
	}
	input {
		top: 140px;
		left:150px;
		width:180px;
		font-size:12pt;
		position:absolute;
	}
	#search {
		margin:0 auto;
	}
	#beer_list, #beer_savedList {
		padding:0px;
		width:480px;
		background-color:rgba(0,0,0,.8);
	}
	.beer_name, .beer_savedName {
		width:480px;
	}
	/* page2 */
	#container_inside1 button img, #container_inside2 button img, #container_inside3 button img {
		width:70px;
	}
	
	#container_inside2 img {
		width:300px;
	}
	#indivisual_beer #table {
		width:480px;
		padding:0;
	}
	#indivisual_beer #table .each_discription {
		width:460px;
		padding:10px;
	}
	#indivisual_beer #table .each_discription .detail {
		display: block;
		width:460px;
		padding-bottom:5px;
	}
	
	#indivisual_beer #table .each_discription .detail.image {
		width:300px;
		margin:auto;
	}
	#indivisual_beer #table .each_discription .detail img {
		width:300px;
		
	}
	#table .each_discription .detail#name {
		margin-left:120px;
		margin-top:-200px;
		width:220px;
		font-size:22px;
	}
	#nav {
		height:75px;
		width:100%;
		background-color:rgba(0,0,0,.7);
	}
	#save {
		margin:3px 5px 0 0;
	}

	/* page3 */
	.hidden_info #table {
		padding:2px 20px;
	}
	.hidden_info #table .each_discription .detail {
		width:400px;
	}
	.hidden_info #table .each_discription {
		width:390px;
	}
	.hidden_info #table .each_discription .detail img {
		margin:auto;
		width:280px;
		display:block;
	}
}
/* Smartphones (portrait) */
@media only screen and (max-width: 320px) {
	#container {
		background:url(../img/BG_320.jpg) no-repeat center center fixed;
/* 		background-size: 320px; */

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
/*
		min-height: 100%;
		min-width:100%;
		margin:0;
		padding:0;
*/
	}
	.page {
		width:320px;
	}
	#nav {
		height:75px;
		width:100%;
		background-color:rgba(0,0,0,.7);
	}

	/* page1 */
	.coaster {
		margin:0 auto;
		width:300px;
	}
	.coaster img {
		width:300px;
	}
	input {
		top: 140px;
		left:70px;
		width:180px;
		font-size:12pt;
	}
	#search {
		width:320px;
		margin:0 auto;
	}
	#beer_list, #beer_savedList {
		width: 320px;
		padding:0px;
		
/* 		display:none; */
	}
	.beer_name, .beer_savedName  {
		width: 320px;
	}
	/* page2 */
	#container_inside1 button img, #container_inside2 button img, #container_inside3 button img {
		width:70px;
	}
	#container_inside2 img {
		width:300px;
	}
	#indivisual_beer {
		width:320px;
	}
	#indivisual_beer #table {
		width:320px;
		padding:0px;
	}
	#indivisual_beer #table .each_discription {
		width:300px;
		padding:10px;
	}
	
	#indivisual_beer #table .each_discription .detail {
		display: block;
		width:300px;
		padding-bottom:5px;
	}
	
	#indivisual_beer #table .each_discription .detail.image {
		width:300px;
		margin:auto;
	}
	#indivisual_beer #table .each_discription .detail img {
		width:300px;
		
	}
	
	#table .each_discription .detail#name {
		margin-left:40px;
		margin-top:-200px;
		width:220px;
		font-size:22px;
		line-height: 1em;
	}
	.hidden_info #table .each_discription .detail {
		width:240px;
	}
	.hidden_info #table .each_discription .detail img {
		width:240px;
	}
	
}
