
/*
kayano tokuzato
copy right 2012
style.css
*/

@import url(http://fonts.googleapis.com/css?family=Asul);


        
* {margin:0; padding:0; position:relative;}

body{
    background-image: url("../images/background.png");
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 	.95em;
    color: #ccb193;
    line-height:1.6em;
    /* letter-spacing: .06em; */
}

/* h1 and h1 span are her header fonts */
h1 {
    font-size: 40px;
    margin-top: 10px;
/*     font-weight: 400; */
    
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(141,131,117,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;
    line-height: 20px;
}
header span {
    font-size: 1.05em;
    letter-spacing: .01em;
    line-height: 40px;
}

h4 { 
	font-family: 'Handlee', sans-serif;
	letter-spacing: 1px;
	font-size: 1.1em;
}

#wrapper {
    width:960px;
    /* margin: auto auto; */
}

/* ----------------------------------------------------------------------------------- */
/*------------------------ This is HEADER section -------------------------------------*/
/* ----------------------------------------------------------------------------------- */
header {
    margin:auto;
    width: 960px;
    height: 70px;
    padding-top: 15px;
    color: rgba(30,21,2,.8);
    
    
}
header img {
    float: left;
    margin-right: 15px;
    opacity: .7;
}

/* ----------------------------------------------------------------------------------- */
/*------------------------ This is NAV section ----------------------------------------*/
/* ----------------------------------------------------------------------------------- */
#nav{
    width:960px;
    height:30px;
    margin: auto;
    font-family: 'Handlee', sans-serif;
    font-size:16px;
    z-index: 1;
}    
#nav ul {
    position: absolute;
    right:0;
    list-style: none;
/*
    padding: 0;
    margin: 0 ;
*/
   /*  width:550px; */
    list-style: none;
}
#nav li {
    display:inline;
    float:left;
    /* display:block; */
}
#nav li a {
    width: 130px;
    display: inline-block;
    outline: none;
    text-decoration: none;
    color:#ccb193;
    text-align: center;
    line-height: 30px;
    letter-spacing: .1em;
}
#nav li ul {
	display: none;
}
#nav li a:hover, #nav li a:active  {
	color:#000;
}
#nav li.active a {
	color:#fff;
}
.home {
	background-color: rgba(31,113,111,.8);
}
.home:hover, .active .home {
	background-color: rgba(31,113,111,1);
}

.history {
	background-color: rgba(249,114,68,.4);
}
.history:hover, .active .history {
	background-color: rgba(249,114,68,.8);
}


#nav > ul > li > a.basics_one {
	background-color: rgba(231,171,0,.5);
}
#nav ul li a.basics_one:hover, #nav ul li a.basics_two:hover, #nav ul li a.basics_three:hover  {
	background-color: rgba(231,171,0,.8);
}
#nav ul li.active > a.basics_one{
	background-color: rgba(231,171,0,.8);
}
#nav ul li ul.basics li.active {
	background-color: rgba(231,171,0,.8);
}



#nav > ul > li > a.advances_one {
	background-color: rgba(207,73,57,.5);
}
#nav ul li a.advances_one:hover, #nav ul li a.advances_two:hover, #nav ul li a.advances_three:hover {
	background-color: rgba(207,73,57,1);
}
#nav ul li.active > a.advances_one{
	background-color: rgba(207,73,57,1);
}
#nav ul li ul.advances li.active {
	background-color: rgba(207,73,57,1);
}


.products {
	background-color: rgba(52,123,146,.8);
}
.products:hover, .active .products {
	background-color: rgba(52,123,146,1);
}

	/*------ this part is for sub-menu -------*/
	#nav #nav_sub li a {
		width:250px;
		/* line-height:1.75em; */
	}
	#nav li:hover ul, #nav li:active ul {
		display:block;
		text-align: center;
	}
	#nav #nav_sub.basics {
		width:auto;
		background-color: rgba(231,171,0,.3);
	}
/*
	#nav #nav_sub.basics li:hover ul, #nav li:active ul{
		width:auto;
		background-color: rgba(231,171,0,1);
	}
*/
	
	#nav #nav_sub.advances {
		width:auto;
		background-color: rgba(207,73,57,.3);
	}
/*
	#nav #nav_sub.advances li:hover ul, #nav li:active ul{
		width:auto;
		background-color: rgba(207,73,57,1);
	}
*/


/* ----------------------------------------------------------------------------------- */
/*------------------------ This is MAIN section ---------------------------------------*/
/* ----------------------------------------------------------------------------------- */
#main {
    /* background-color: rgba(96, 73, 49, 0.5); */
    background-color: rgba(204, 153, 102, 0.1);
    width:840px;
    height:auto;
    min-height: 500px;
        /* round-corner */
        -moz-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-radius: 15px;
        -o-box-radius: 15px;
        -ms-box-radius: 15px;
        /* inset box shadow */
        -moz-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        -webkit-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        -o-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        -ms-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        box-shadow: inner 0 0 20pxrgb(35, 28, 20);
    margin: 20px auto 20px auto;
    padding: 90px 60px;
    z-index: 1;
}

.main_content{
	display:none;
}

#main h2 {
    font-size: 40px;
    margin:0 80px;
    text-shadow: rgba(0,0,0,0.5) 1px 0, rgba(0,0,0,0.3) 0 1px, rgba(141,131,117,0.5) 0 -1px, rgba(0,0,0,0.3) 1px 1px;
    font-family: 'Asul', sans-serif;
/*    color: rgba(59,44,8,.8);*/
	color:#000;
	opacity: 0.8;
    /* float:left; */
}

#main p {
    width:700px;
    margin:20px 80px;
    /* text-shadow:0px 2px 1px rgb(89, 75, 65); */
}
#main #home_image #main_title img {
    opacity:.5;
    margin-bottom:-60px;
    margin-left:-60px;
}
#main #main_title img {
	margin-top:-100px;
	opacity:.5;
	margin-left: 30px;
	z-index: -1;
}

#main #motiongraphic {
	width:698px;
	height:auto;
	margin:30px auto;
	overflow:hidden;
	padding: 20px 0px 10px 0px;
	background-color: rgba(204, 153, 102, 0.2);
    height:auto;
    /* round-corner */
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-radius: 15px;
    -o-box-box-radius: 15px;
    -ms-box-box-radius: 15px;
    /* inset box shadow */
    -moz-box-shadow: inset 0 0 20px rgb(35, 28, 20);
    -webkit-box-shadow: inset 0 0 20px rgb(35, 28, 20);
    box-shadow: inset 0 0 20pxrgb(35, 28, 20);
    -o-box-shadow: inset 0 0 20pxrgb(35, 28, 20);
    -ms-box-shadow: inset 0 0 20pxrgb(35, 28, 20);
	z-index: 0px;
}

#main #motiongraphic video {
	margin:auto;
	margin-left:-1px;
	opacity: 1;
	position: relative;
	z-index: 1;
	
}
#main #motiongraphic video source {
	position: absolute;
	
}
#main #motiongraphic .home_video{
	margin-left:20px;
}

/* ----------------------------------------------------------------- */
/*---------------------------- HISTORY ------------------------------*/
/* ----------------------------------------------------------------- */
#timeline {
	width:700px;
	margin:50px auto;
	padding: 5px 3px 0px 5px;
	overflow: hidden;
	background-color: rgba(204, 153, 102, 0.2);
    height:auto;
        /* round-corner */
        -moz-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-radius: 15px;
        -o-box-box-radius: 15px;
        -ms-box-box-radius: 15px;
        /* inset box shadow */
        -moz-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        -webkit-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        box-shadow: inset 0 0 20pxrgb(35, 28, 20);
        -o-box-shadow: inset 0 0 20pxrgb(35, 28, 20);
        -ms-box-shadow: inset 0 0 20pxrgb(35, 28, 20);
}

/* ----------------------------------------------------------------- */
/*---------------------------- BASICS -------------------------------*/
/* ----------------------------------------------------------------- */
/* ---------------------------------------------------- */
/*--------------- BASICS/by productions ----------------*/
#slide_and_breadcrumb {
	width:700px;
	margin: 0 auto;
}

#production_whole {
	margin: 50px auto 0 auto;
	width:700px;
	height:520px;
	/* position: absolute; */
	top:0;
	left:0;
	overflow: hidden;
	
	background-color:rgba(204, 153, 102, 0.2);
		-webkit-border-radius: 35px 35px 35px 35px;
		-moz-border-radius:35px 35px 35px 35px;
		border-radius: 35px 35px 35px 35px;
		-o-box-radius: 35px 35px 35px 35px;
		-ms-box-radius: 35px 35px 35px 35px;
			-webkit-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.3);
			-moz-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-o-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-ms-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
}
#production_inside {
	width: 700%;
	height:auto;
}

#production_of_sake {
	width:560px;
	height:auto;
	margin:auto;
	float:left;
	padding:60px 70px 20px 70px;
}
#production_of_sake img {
	left:19%;
	opacity: .7;
	margin:15px auto;
}

#main #production_of_sake h4 { 
	text-align: center;
}
#main #production_of_sake p {
	margin:0;
	padding: 0px;
	width:550px;
	color: rgba(27, 24,19,.9);
	font-size: .85em;
}
#triangle_left {
	position: absolute;
	border-color: transparent rgba(231,171,0,.3) transparent transparent;
	border-style: solid;
	border-width: 20px 20px 20px 20px;
	margin-top: -320px;
	margin-left: -50px;
	/* height: 0px; */
}
#triangle_right {
	position: absolute;
	border-color: transparent transparent transparent rgba(231,171,0,.3);
	border-style: solid;
	border-width: 20px 20px 20px 20px;
	margin-top: -320px;
	margin-left: 710px;
	/* height: 0px; */
}

/*----- this is slider control button section -----*/

#slide_and_breadcrumb ul {
	margin: auto;
	width:232px;
/* 	float:left;  */
/* 	overflow:hidden;  */
/* 	position:relative;  */
	z-index:1;	
}
ul#breadcrumb li.active {
	background-color: rgba(231,171,0,.7);
	color: rgba(27, 24,19,.7);
}

ul#breadcrumb, ul#breadcrumb li {
	margin:15px auto; 
	padding:0; 
	list-style:none; 
}   

ul#breadcrumb li { 
	float:left; 
	margin-right:7px;
	cursor:pointer; 
	padding: 1px 8px;
	background-color: rgba(231,171,0,.2);
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-o-border-radius: 50px;
		-ms-border-radius: 50px;
		border-radius: 50px;
	font-size: .75em;
} 

/* --------------------------------------------------- */
/*--------------- BASICS/by Categories ----------------*/
.first_colum {
	background: rgba(231,171,0,.2);
		
		/* round-corner */
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius:15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
/* 	background:red; */
}
#categories_talbe {
	/* background-image: url(../images/background.png); */
	/* background-color: red; */
	font-size: 12px;
	/* margin: 45px; */
	margin:70px auto;
	width: 550px;
	text-align: left;
	border-collapse: collapse;
		/* round-corner */
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius:15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
}
#categories_talbe th {
	padding: 12px 15px;
	color: rgba(59,44,8,.9);
	background: rgba(242,219,170,.3);
		/* round-corner */
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius:15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
}
#categories_talbe td {
	padding: 10px 15px;
	color: rgba(255,255,255,.6);
	border-bottom: 1px solid rgba(231,171,0,.1);
	/* round-corner */
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius:15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
}
#categories_talbe tr {
	/* round-corner */
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius:15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
}
#categories_talbe tr:hover td {
	color: rgba(59,44,8,.9);
	background: rgba(231,171,0,.2);
}

#main #basics_two_content p span {
	font-weight: bold;
	color:rgba(59,44,8,1);
}

#main #other_type {
	background-color: rgba(204, 153, 102, 0.2);
	width: 660px;
	margin: auto;
	padding:30px 40px;
        /* round-corner */
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius:15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        /* inset box shadow */
        -moz-box-shadow: inset 0 0 5px rgb(35, 28, 20);
        -webkit-box-shadow: inset 0 0 5px rgb(35, 28, 20);
        box-shadow: inset 0 0 5pxrgb(35, 28, 20);
        -o-box-shadow: inset 0 0 5pxrgb(35, 28, 20);
        -ms-box-shadow: inset 0 0 5pxrgb(35, 28, 20);
}
#main #other_type, #main #other_type h2, #main #other_type h3, #main #other_type p  {
	width:600px;
	margin:auto;
	display: block;
	margin-top: 15px;
}
#main #basics_two_content h4 {
	margin-top:25px;
	padding-top: 10px;
	margin-left: 80px;
}
#main #other_type h4 {
	margin-left: 0;
}
/* ------------------------------------------------ */
/*--------------- BASICS/by Regions ----------------*/
#region_map_infographic {
	width: 800px;
	/* border: red 1px solid; */
	margin: 60px auto;
	padding-bottom: 125px;
}

#region_map_img {
	/* background-image:url("../images/map/region_map.png"); */
	/* border:red solid 1px; */
	width:550px;
	margin:auto;
}

#map_five_region {
	position: absolute;
	width:300px;
	background-color:rgba(204, 153, 102, 0.2);
	padding: 20px;	
		-webkit-border-radius: 35px 35px 35px 35px;
		-moz-border-radius:35px 35px 35px 35px;
		-ms-border-radius:35px 35px 35px 35px;
		-o-border-radius:35px 35px 35px 35px;
		border-radius: 35px 35px 35px 35px;
			-webkit-box-shadow: o 0 2px 5px hsla( 0, 0%, 0%, 0.3);
			-moz-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-o-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-ms-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
}
#main #basics_three_content h3 {
	margin-top: 110px;
}

#main #map_five_region p {
	margin:0;
	padding: 0px;
	/* width:300px; */
	color: rgba(27, 24,19,.9);
	font-size: .85em;
}
#main .region_one, #main .region_one p {
	 /* position: absolute; */
	 margin-top: -700px;
	 margin-left: 100px;
	 width: 300px;
}
#main .region_two, #main .region_two p {
/* 	 position: absolute; */
	margin-top: -370px;
	margin-left: 585px;
	width: 150px;
}
#main .region_three, #main .region_three p {
/* 	 position: absolute; */
	margin-top: -130px;
	margin-left: 475px;
	width: 250px;
}
#main .region_four, #main .region_four p {
/* 	 position: absolute; */
	margin-top: -520px;
	margin-left:60px;
	width: 210px;
}
#main .region_five, #main .region_five p {
/* 	 position: absolute; */
	margin-left: 120px;
	margin-top: 15px;
	width: 420px;
}

/*------------ triangle design -------------*/
.triangle_one {
	position: absolute;
	border-color: transparent rgba(31,113,111,.3) transparent transparent ;
	border-style: inset;
	border-width: 20px 20px 0px 20px;
	margin-top: 89px;
	margin-left: 279px;
	height: 0px;
}
.triangle_two {
	position: absolute;
	border-color: transparent rgba(249,114,68,.2) transparent transparent;
	border-style: inset;
	border-width: 13px 13px 13px 13px;
	margin-top: 35px;
	margin-left: -44px;
	height: 0px;
}
.triangle_three {
	position: absolute;
	border-color: transparent transparent transparent rgba(231,171,0,.5) ;
	border-style: inset;
	border-width: 0px 20px 20px 20px;
	margin-top: -18px;
	margin-left: -19px;
	height: 0px;
}
.triangle_four {
	position: absolute;
	border-color: transparent rgba(207,73,57,.3) transparent transparent ;
	border-style: inset;
	border-width: 20px 20px 0px 20px;
	margin-top: 137px;
	margin-left: 188px;
	height: 0px;
}
.triangle_five {
	position: absolute;
	border-color: transparent transparent rgba(52,123,146,.4) transparent;
	border-style: inset;
	border-width: 14px 14px 14px 14px;
	margin-top: -47px;
	margin-left: 70px;
	height: 0px;
}
/*------------ button design -------------*/
a#region_anchor {
  	text-decoration: none;
	display: inline-block;
	padding: 3px 6px;
	
	/* color: rgba(27, 24,19,.7); */
	/* letter-spacing: .1em; */
	/* margin-bottom: 0.2em; */
	/* margin-right:3px; */
	
	font-family: 'Asul', sans-serif;
	font-size: 1em;
	margin-bottom: .75em;
	color: rgba(204,177,147,.8);
	
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;
			border:  1px solid hsla( 0, 0%, 50%, 0.1 );
			border-left:  1px solid hsla( 0, 0%, 50%, 0.1 );
			border-bottom: 1px solid hsla( 0, 0%, 100%, 0.1 );
			border-right: 1px solid hsla( 0, 0%,  100%, 0.1 );
}
.region_one a#region_anchor{
	background-color: rgba(31,113,111,.2);
}
.region_two a#region_anchor{
	background-color: rgba(249,114,68,.2);
}
.region_three a#region_anchor{
	background-color: rgba(231,171,0,.2);
}
.region_four a#region_anchor{
	background-color: rgba(207,73,57,.2);
}
.region_five a#region_anchor{
	background-color: rgba(52,123,146,.2);
}
.region_one a#region_anchor:hover {
  background-color: rgba(31,113,111,.3);
}
.region_one a#region_anchor:active {
	background-color: rgba(31,113,111,.5);
}
.region_two a#region_anchor:hover {
  background-color: rgba(249,114,68,.3);
}
.region_two a#region_anchor:active {
	background-color: rgba(249,114,68,.5);
}
.region_three a#region_anchor:hover {
  background-color: rgba(231,171,0,.3);
}
.region_three a#region_anchor:active {
	background-color: rgba(231,171,0,.5);
}
.region_four a#region_anchor:hover {
  background-color: rgba(207,73,57,.3);
}
.region_four a#region_anchor:active {
	background-color: rgba(207,73,57,.5);
}
.region_five a#region_anchor:hover {
  background-color: rgba(52,123,146,.3);
}
.region_five a#region_anchor:active {
	background-color: rgba(52,123,146,.5);
}

#region_border {
	border: 4px;
	border-style: solid;
	margin-left:80px;
	margin-top:5px;
	width:300px;
}
#region_border.one {
	border-color: rgba(31,113,111,.4);
}
#region_border.two {
	border-color: rgba(249,114,68,.4);
}
#region_border.three {
	border-color: rgba(231,171,0,.4);
}
#region_border.four {
	border-color: rgba(207,73,57,.4);
}
#region_border.five {
	border-color: rgba(52,123,146,.4);
}

/* --------------------------------------------------------------------- */
/*--------------------- This is ADVANCES section -------------------------*/
/* ---------------------------------------------------------------------- */

/* ------------------------------------------------------------ */
/*---------------- ADVANCES/by flavor and aroma ----------------*/

/*--- this section is for the infographic/buttons --- */
#four_buttons {
	width:575px;
	height:450px;
	margin:50px auto 0 auto;
	text-decoration: none;
	text-align: center;
        /* round-corner */
        -moz-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-radius: 15px;
        -o-box-radius: 15px;
        -ms-box-radius: 15px;
        /* inset box shadow */
        -moz-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        -webkit-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        -ms-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        -o-box-shadow: inset 0 0 20px rgb(35, 28, 20);
        box-shadow: inner 0 0 20pxrgb(35, 28, 20);
}
#arrow {
	width:600px;
	height:450px;
	background-image:url(../images/arrow_background.png);
	margin-bottom:-390px;
}

#top-left {
	background-color: rgba(31,113,111,.3);
	width:148px;
	height:120px;
	margin-left:144px;
	float:left;
		border:rgba(59,44,8,.4) 1px solid;
		-moz-box-shadow:inset 1px 0px 2px 1px rgba(166,226,223,.3);
		-webkit-box-shadow:inset 1px 0px 2px 1px rgba(166,226,223,.3);
		-o-box-shadow:inset 1px 0px 2px 1px rgba(166,226,223,.3);
		-ms-box-shadow:inset 1px 0px 2px 1px rgba(166,226,223,.3);
		box-shadow:inset 1px 0px 2px 1px rgba(166,226,223,.3);
}
#top-right {
	background-color: rgba(231,171,0,.1);
	width:148px;
	height:120px;
	float:left;
		border:rgba(59,44,8,.4) 1px solid;
		-moz-box-shadow:inset 1px 0px 2px 1px rgba(232,208,149,.3);
		-webkit-box-shadow:inset 1px 0px 2px 1px rgba(232,208,149,.3);
		-o-box-shadow:inset 1px 0px 2px 1px rgba(232,208,149,.3);
		-ms-box-shadow:inset 1px 0px 2px 1px rgba(232,208,149,.3);
		box-shadow:inset 1px 0px 2px 1px rgba(232,208,149,.3);
}
#bottom-left {
	background-color: rgba(52,123,146,.3);
	width:148px;
	height:120px;
	margin-left:144px;
	float:left;
	clear:both;
		border:rgba(59,44,8,.4) 1px solid;
		-moz-box-shadow:inset 1px 0px 2px 1px rgba(192,229,237,.3);
		-webkit-box-shadow:inset 1px 0px 2px 1px rgba(192,229,237,.3);
		-o-box-shadow:inset 1px 0px 2px 1px rgba(192,229,237,.3);
		-ms-box-shadow:inset 1px 0px 2px 1px rgba(192,229,237,.3);
		box-shadow:inset 1px 0px 2px 1px rgba(192,229,237,.3);
}
#bottom-right {
	background-color: rgba(249,114,68,.3);
	width:148px;
	height:120px;
	float:left;
		border:rgba(59,44,8,.4) 1px solid;
		-moz-box-shadow:inset 1px 0px 2px 1px rgba(224,211,203,.3);
		-webkit-box-shadow:inset 1px 0px 2px 1px rgba(224,211,203,.3);
		-o-box-shadow:inset 1px 0px 2px 1px rgba(224,211,203,.3);
		-ms-box-shadow:inset 1px 0px 2px 1px rgba(224,211,203,.3);
		box-shadow:inset 1px 0px 2px 1px rgba(224,211,203,.3);
}
	a#top-left:hover {
	background-color: rgba(31,113,111,.5)
	}
	a#top-right:hover {
		background-color: rgba(231,171,0,.4)
	}
	a#bottom-left:hover {
		background-color: rgba(52,123,146,.5)
	}
	a#bottom-right:hover {
		background-color: rgba(249,114,68,.4)
	}


#four_buttons a {
	text-decoration: none;
	text-align: center;
	color: rgba(205,205,205, .6);
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1em;
	padding-top: 24px;
}
.button {
	margin-top: 13px;
	margin-left: 13px;
	-moz-box-shadow:inset 1px 0px 2px 1px #ffffff;
	-webkit-box-shadow:inset 1px 0px 2px 1px #ffffff;
	-o-box-shadow:inset 1px 0px 2px 1px #ffffff;
	-ms-box-shadow:inset 1px 0px 2px 1px #ffffff;
	box-shadow:inset 1px 0px 2px 1px #ffffff;
}

/* -----this secton is for anchor back to top ------------*/
.anchor {
	text-decoration: none;
	color:rgba(59,44,8,.8);
	float:right;
	margin-right: 80px;
	font-family: 'Handlee', sans-serif;
	letter-spacing: 2px;
	margin-top: 30px;
}
.triangle_anchor {
	border-color: transparent transparent rgba(59,44,8,.7) transparent ;
	border-style: inset;
	border-width: 10px 10px 10px 10px;
	margin-top:-3px;
	margin-right: 3px;
	/* height: 0px; */
	float: right;
	margin-top: 30px;
}

/*-- this section is bottom part of advances > 4 types of sake --*/
#advances_1_main_section {
	margin-top: 50px;
}
#advances_four_types {
	margin-top: 100px;
	
}
#advances_four_types_contents {
	margin-top: 30px;
}
#advances_four_types img {
	
}
#advances_four_types img.meter {
	margin: 0px 40px 20px 80px;
	padding:10px 5px;
	float:left;
	background-color:rgba(204, 153, 102, 0.2);	
		-webkit-border-radius: 35px 35px 35px 35px;
		-moz-border-radius:35px 35px 35px 35px;
		-ms-border-radius:35px 35px 35px 35px;
		-o-border-radius:35px 35px 35px 35px;
		border-radius: 35px 35px 35px 35px;
			-webkit-box-shadow: o 0 2px 5px hsla( 0, 0%, 0%, 0.3);
			-moz-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-o-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-ms-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
}

#advances_four_types img.food_image {
	opacity: .5;
	margin:10px 15px 5px 60px;
}
h3 {
    font-size: 1.25em;
    margin:60px 80px 0 80px;
    text-shadow: rgba(0,0,0,0.5) 1px 0, rgba(0,0,0,0.3) 0 1px, rgba(141,131,117,0.5) 0 -1px, rgba(0,0,0,0.3) 1px 1px;
    font-family: 'Asul', sans-serif;
    color:rgba(59,44,8,.8);
}
#main #advances_four_types h4 {
	margin-top:25px;
	margin-left:70px;
	padding-top: 10px;
}
#advances_four_types p {
	margin:0;
	padding: 0px;
	margin:8px auto;
}
#advances_four_types p.four_types_text_to_right {
	width:340px;
	margin-left:430px;
}
#advances_four_types p.four_types_text_to_left {
	
}

/* ----this part is borders for each section ----*/
#four_types_border {
	border: 4px;
	border-style: solid;
	margin-left:80px;
	margin-top:5px;
	width:300px;
}
#four_types_border.one {
	border-color: rgba(31,113,111,.4);
}
#four_types_border.two {
	border-color: rgba(231,171,0,.4);
}
#four_types_border.three {
	border-color: rgba(52,123,146,.4);
}
#four_types_border.four {
	border-color: rgba(249,114,68,.4);
}

/* ------------------------------------------------------------ */
/*------------------ ADVANCES / temperatures -------------------*/
#main #advances_temp {
	margin:auto;
	width: 700px;
}
#advances_temp_img {
	margin: 90px auto 0 auto;
	width: 200px;
}
#temp_advances_whole {
	margin-top: -890px;
}
#temp_advances {
	width:220px;
	background-color:rgba(204, 153, 102, 0.2);
	padding: 23px;
	margin-top: 5px;	
		-webkit-border-radius: 35px 35px 35px 35px;
		-moz-border-radius:35px 35px 35px 35px;
		-o-border-radius:35px 35px 35px 35px;
		-ms-border-radius:35px 35px 35px 35px;
		border-radius: 35px 35px 35px 35px;
			-webkit-box-shadow: o 0 2px 5px hsla( 0, 0%, 0%, 0.4);
			-moz-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-o-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-ms-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
}
#temp_advances p {
	margin:0;
	padding: 0px;
	width:225px;
	color: rgba(27, 24,19,.9);
	font-size: .85em;
}
#temp_advances.left {
	float:left;
	left:0;
}
#temp_advances.right {
	float:right;
	right:0;
}

#temp_advances h4 {
	font-size: 1em;
	margin-bottom: .5em;
}

/* ------------------------------------------------------ */
/*--------------- ADVANCES /METHOD OF TAISTING ----------------*/
.tasting_cup {
	float:right;
	margin:5px 60px 30px 30px;
	opacity: .5;
		-webkit-border-radius:5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
}

/* ------------------------------ */
/*----- Accordion Part Start -----*/
.accordion{
	width: 650px;
	margin: 30px auto 30px auto;
}

/*----- lable tag design -----*/
.accordion label{
	text-align: right;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 40px;
	cursor: pointer;
	color: rgba(204,177,147,1);
	line-height: 40px;
	margin-bottom: 2px;
	background:rgba(27, 24,19,.5);
		-webkit-border-radius:15px 15px;
		-moz-border-radius: 15px 15px;
		border-radius: 15px 15px;
		/* this is for images in label */
			background-size: 400px;
			opacity:.5;
			filter:alpha(opacity=50);
}
.accordion label.one, .accordion label.one:hover, .accordion label.one, .accordion input:checked + label.one, .accordion input:checked + label.one:hover {
	background-image:url(../images/method_tasting_woman.png);
	background-repeat: no-repeat;
	background-position:left -170px;
	background-size: 400px;
}
.accordion label.two, .accordion label.two:hover, .accordion label.two, .accordion input:checked + label.two, .accordion input:checked + label.two:hover {
	background-image:url(../images/method_tasting_woman.png);
	background-repeat: no-repeat;
	background-position:left -220px;
	background-size: 400px;
}
.accordion label.three, .accordion label.three:hover, .accordion label.three, .accordion input:checked + label.three, .accordion input:checked + label.three:hover {
	background-image:url(../images/method_tasting_woman.png);
	background-repeat: no-repeat;
	background-position:left -270px;
	background-size: 400px;
}
.accordion label:hover {
	background: rgba(27, 24,19,.8);
}
.accordion input:checked + label,
.accordion input:checked + label:hover{
	background:rgba(27, 24,19,1);
	color: rgba(204,177,147,1);
}
.accordion label:hover:after,
.accordion input:checked + label:hover:after{
}
.accordion input:checked + label:hover:after{
}

#main .accordion label h3 {
	margin: 0;
	padding: 0;
	color: rgba(204,177,147,1);
}

/*----- inside of accordion -----*/
.accordion input{
	display: none;
}
.accordion article{
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	margin-bottom: 1px;
}

#main .accordion input:checked ~ article{
	padding:30px 75px 60px 75px;
	height:auto;
	background-color:rgba(204, 153, 102, 0.2);	
		-webkit-border-radius: 0px 0px 15px 15px;
		-moz-border-radius: 0px 0px 15px 15px;
		-ms-border-radius: 0px 0px 15px 15px;
		-o-border-radius: 0px 0px 15px 15px;
		border-radius:  0px 0px 15px 15px;
			-webkit-box-shadow: o 0 2px 5px hsla( 0, 0%, 0%, 0.3);
			-moz-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-o-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			-ms-box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
			box-shadow: inset 0 2px 5px hsla( 0, 0%, 0%, 0.4 );
}

#main .accordion input:checked ~ article h4 {
	color: rgba(66,33,11,.9);
	margin-top:25px;
	padding-top: 15px;
}
#main .accordion input:checked ~ article p{
	width:510px;
	line-height: 23px;
	font-size: 14px;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

/* ---------------------------------------------------------------------------- */
/*----------------- This is FOOTER section -------------------------------------*/
/* ---------------------------------------------------------------------------- */
footer {
/* 	background-color: rgba(52,123,146,.3); */
	background-color: rgba(31,113,111,.1);
    width:700px;
    height:auto;
        /* round-corner */
        -moz-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-radius: 15px;
        -o-box-radius: 15px;
        -ms-box-radius: 15px;
        /* inset box shadow */
        -moz-box-shadow: inset 0 0 10px rgb(35, 28, 20);
        -webkit-box-shadow: inset 0 0 10px rgb(35, 28, 20);
        -o-box-shadow: inset 0 0 10px rgb(35, 28, 20);
        -ms-box-shadow: inset 0 0 10px rgb(35, 28, 20);
        box-shadow: inset 0 0 10pxrgb(35, 28, 20);
    margin: 10px auto 33px auto;
    padding: 30px 130px;
/*     z-index: 1; */

    color:rgba(204,177,147,.7);
    font-size: .9em;
}
footer h3 {
	margin:10px auto 25px auto;
	padding:0;
	font-size: 1.4em;
}
footer h4 {
	margin-bottom:2px;
}

#footer_contact_whole {
	margin-top: 50px;
}

footer #footer_contact {
	float: left;
	width:300px;
}

#footer_contact_both {
	width:700px;
}
#footer_left_contact {
	margin-bottom:15px;
}
#footer_contact #footer_left_contact p {
	color: rgba(27, 24,19,.9);
	line-height: 1.5em;
	margin-left: 10px;
/* 	font-size: .95em; */
}
#footer_contact #footer_left_contact p a {
	color: rgba(204,177,147,.4)
}

footer #footer_contact.right {
	float: left;
	width:300px;
/* 	margin-top: 225px; */
	margin-left: 100px;
}

/* ---------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------- */
.clearthefloats {clear:both;}
